# To see all available options, please visit the docs:
# https://docs.pangolin.net/

gerbil:
  start_port: {{ pangolin_gerbil_start_port }}
  base_endpoint: "{{ pangolin_dashboard_domain }}"

app:
  dashboard_url: "https://{{ pangolin_dashboard_domain }}"
  log_level: "{{ pangolin_app_log_level }}"
  telemetry:
    anonymous_usage: {{ pangolin_telemetry_anonymous_usage | bool }}

domains:
  domain1:
    base_domain: "{{ pangolin_base_domain }}"
    cert_resolver: "{{ pangolin_domain_cert_resolver }}"

server:
  secret: "{{ pangolin_server_secret | default('') }}"
{% if pangolin_enable_geoblocking | bool %}
  maxmind_db_path: "./config/GeoLite2/GeoLite2-Country.mmdb"
  maxmind_asn_path: "./config/GeoLite2/GeoLite2-ASN.mmdb"
{% endif %}
{% if pangolin_enable_integration_api | bool %}
  integration_port: {{ pangolin_integration_api_port }}
{% endif %}
  cors:
    origins:
      - "https://{{ pangolin_dashboard_domain }}"
    methods: ["GET", "POST", "PUT", "DELETE", "PATCH"]
    allowed_headers: ["X-CSRF-Token", "Content-Type"]
    credentials: false
{% if pangolin_enable_email | bool %}

email:
  smtp_host: "{{ pangolin_smtp_host }}"
  smtp_port: {{ pangolin_smtp_port }}
  smtp_user: "{{ pangolin_smtp_user }}"
  smtp_pass: "{{ pangolin_smtp_pass }}"
  no_reply: "{{ pangolin_email_no_reply }}"
{% endif %}

flags:
  require_email_verification: {{ pangolin_enable_email | bool }}
  disable_signup_without_invite: {{ pangolin_disable_signup_without_invite | bool }}
  disable_user_create_org: {{ pangolin_disable_user_create_org | bool }}
  allow_raw_resources: {{ pangolin_allow_raw_resources | bool }}
  enable_integration_api: {{ pangolin_enable_integration_api | bool }}
