[Unit]
Description=Gitea Actions runner
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=simple
User={{ gitea_runner_user }}
Group={{ gitea_runner_group }}
SupplementaryGroups=docker
WorkingDirectory={{ gitea_runner_working_directory }}
Environment=HOME={{ gitea_runner_working_directory }}
ExecStart={{ gitea_runner_binary_path }} daemon --config {{ gitea_runner_config_path }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
