bindaddress = "[::]:443"
ldapbindaddress = "[::]:636"
trust_x_forward_for = true
db_path = "/data/kanidm.db"
tls_chain = "/data/chain.pem"
tls_key = "/data/key.pem"
domain = "{{ kanidm_domain }}"
origin = "{{ kanidm_origin }}"
