[Unit]
Description=Gitea Actions runner
After=network-online.target docker.service
Wants=network-online.target docker.service

[Service]
Type=simple
User={{ act_runner_user }}
Group={{ act_runner_group }}
SupplementaryGroups=docker
WorkingDirectory={{ act_runner_working_directory }}
Environment=HOME={{ act_runner_working_directory }}
ExecStart={{ act_runner_binary_path }} daemon --config {{ act_runner_config_path }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
